<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" fxHide.gt-sm>
    <mat-nav-list>
      <ng-container *ngFor="let link of navbarComponent.links">
        <a
          mat-list-item
          [routerLink]="link.path"
          (click)="sidenav.close()"
          class="sidenav-link"
          routerLinkActive="active"
        >
          {{ link.label }}
        </a>
      </ng-container>
    </mat-nav-list>
    <app-search-bar
      ParentComponent="Products"
      (searchEvent)="onSearch($event)"
    ></app-search-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar #navbarComponent (menuToggle)="sidenav.toggle()"></app-navbar>
    <app-search-bar
      ParentComponent="Products"
      (searchEvent)="onSearch($event)"
    ></app-search-bar>
    <router-outlet></router-outlet>

    <!--THIS SHOULD BE A SEPARATE COMPONENT-->
    <app-promotion-banner></app-promotion-banner>

    <div class="container-products">
      <div *ngIf="isLoading" class="center-spinner">
        <app-evara-spinner></app-evara-spinner>
      </div>
      <ng-container *ngIf="!isLoading">
        <ng-container
          *ngFor="let product of displayedProducts; trackBy: trackById"
        >
          <app-product-card
            [product]="product"
            (addToCart)="addToCart($event)"
          ></app-product-card>
        </ng-container>
      </ng-container>
    </div>

    <!--TILL HERE-->
  </mat-sidenav-content>
</mat-sidenav-container>
