<!-- shop-home.component.html -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" fxHide.gt-sm>
    <mat-nav-list>
      <ng-container *ngFor="let link of navbarComponent.links">
        <a mat-list-item [routerLink]="link.path" (click)="sidenav.close()">
          {{ link.label }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar #navbarComponent (menuToggle)="sidenav.toggle()"></app-navbar>
    <router-outlet></router-outlet>
    <div class="container-products">
      <ng-container *ngFor="let product of data; trackBy: trackById">
        <app-product-card
          [product]="product"
          (addToCart)="addToCart($event)"
        ></app-product-card>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
